.updownarrows--button{
    background-color: transparent;
    border: white solid 1px;
    height:4rem;
    width:4rem;
    margin:2%;

    transition: all 200ms ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.updownarrows--button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.updownarrows--button:active{
    transform: scale(.9);
}

.updownarrows{
    position:absolute;
    top:60%;
    right:10%;
}