.verticalgallary{
    display:flex;
    flex-flow:column nowrap;
    height:600px;
    width:600px;
    overflow-y:hidden;

    position:absolute;
    top:50%;
    left:60%;
    transform: translate(-50%, -50%);
}
.verticalgallary::after{
    content:'';
    position:absolute;
    width:45%;
    height:10%;
    left:40%;
    top:70%;
    transform: translate(-50%, -50%);
    border-radius: 1rem 2rem 5rem 1rem;
    background-color: rgba(255, 0, 0, 0.8);
    z-index: -1;
    filter:blur(70px);
    transform: translate3d(0, 0, 0);
}
@supports (-moz-appearance: none) {
    .verticalgallary::after{
        background-color: rgba(255, 0, 0, 0.4); /* Replace with your desired background style */
    }
}
.verticalgallary--image{
    object-fit: contain;
    max-height:600px;
    max-width:600px;

    transition:transform 500ms ease;
}