.verticalgallary{
    display:flex;
    flex-flow:column nowrap;
    height:600px;
    width:600px;
    overflow:hidden;

    position:absolute;
    top:50%;
    left:60%;
    transform: translate(-50%, -50%);
}
.verticalgallary--image{
    object-fit: contain;
    max-height:600px;
    max-width:600px;

    transition:transform 500ms ease;
}