#app--main{
  width:100vw;
  height:100dvh;
}

body{
  margin:0;
}

.app--active{
  animation: polygonReveal 2s ease forwards;
}

@keyframes polygonReveal {
  0% {
    clip-path: circle(0% at 60% 50%);
  }
  100% {
    clip-path: circle(100% at 60% 50%);
  }
}






